<section id="form-new-question" class="d-flex justify-content-center mt-5">
  <div>
    <h3><%= I18n.t(:do_new_question) %></h3>
    <div id= "form">
      <%= form_with(model:[@lot, @question]) do |f| %>
        <div>
          <div>
            <%=f.label :question %>
          </div>
          <div>
            <%=f.text_area :question, class: "w-100 form-control",  style: "height: 100px" %>
          </div>
          <div>
            <%=f.submit I18n.t(:submit), class: "btn btn-primary mt-2" %>
          </div>
        </div>
      <% end %>
  </div>
  
  <div id = "errors-messages">
    <% if @question.errors.any? %>
      <ul class="list-group mt-2">
      <% @question.errors.full_messages.each do |msg|%>
        <li class="badge text-bg-warning"><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
  </div>


  <div>
    <div>
      <%= link_to "Voltar ao lote", lot_path(@lot.id), class: "btn btn-secondary mt-2" %>
    </div>
  </div>
</section>    