<section id="item-details">
  <div>
    <div>
      <h2><%= Item.human_attribute_name(:code)%>: <%= @item.code %></h2>
    </div>
    <div>
      <h3><%= Item.human_attribute_name(:name)%>: <%= @item.name %></h3>
    </div>
    <div>
      <h4><%= Item.human_attribute_name(:description)%>: <%= @item.description %></h4>
    </div>
    <div> 
      <%= Item.human_attribute_name(:weight)%>: <%= "#{@item.weight}g" %>
    </div>  
    <div>
      <%= Item.human_attribute_name(:item_dimensions)%>: <%= @item.item_dimensions %>
    </div>
    <div>
      <%= Item.human_attribute_name(:product_category)%>: <%= @item.product_category %>
    </div>
    <div>
      <%= Item.human_attribute_name(:image)%>: 
    </div>
    <% if @item.image.attached? %>
    <div>
      <%= image_tag @item.image , :class => "item-image" %> 
    </div>
    <%else%>
    <span>Nenhuma imagem cadastrada</span>
    <% end %>

    <%= link_to 'Voltar', items_path, class: 'btn btn-primary' %>
  </div>
</section>