  <div id = "cards" class="container-fluid">
    <h2><%= @lot.items.empty? ? "Esse lote não possui itens." : "Items do lote: "%></h2>
    <div id="items">
      <% @lot.items.each do |item| %>
    <div id="item" style="margin: 5px;" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">  
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4" style="margin: auto">
            <% if item.image.attached? %>
              <div><%= image_tag item.image , class: "img-fluid rounded-start"%> </div>
            <%else%>
              <div style="text-align: center;">Nenhuma imagem cadastrada</div>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text"><small class="text-body-secondary">Dimensões: <%= item.item_dimensions %></small></p>
              <p class="card-text"><small class="text-body-secondary">Categoria: <%= item.product_category %></small></p>
              <p class="card-text"><small class="text-body-secondary">Código: <%= item.code %></small></p>
              <div>
                  <% if user_signed_in? %>
                    <%if @lot.pending? && current_user.is_admin %>
                      <p class="card-text"><div style="margin: 10px;" class= "position-absolute top-0 end-0"><%= button_to "Remover item", lot_lot_item_path(item.lot, id: item.lot_item), method: :delete, class: "btn btn-danger" %></div></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> 