<section id="lot-pendents">
  <div><h2>Lotes pendentes de aprovação<h2><div>
  <% if @lots_pendents.any? %>
  </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col"><%= Lot.human_attribute_name(:code) %></th>
          <th scope="col"><%= Lot.human_attribute_name(:start_date) %></th>
          <th scope="col"><%= Lot.human_attribute_name(:limit_date) %></th>
        </tr>
      </thead>
      <% @lots_pendents.each do |lot|%>
        <tbody>
          <tr>
            <th scope="row"><%= link_to lot.code, lot_path(lot.id), class: "link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></th>
            <td><%= I18n.localize(lot.start_date) %></td>
            <td><%= I18n.localize(lot.limit_date) %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <% else %>
    <h3>Nenhum lote pendente de aprovação</h3>
  <% end %>
</section>