<section id="lot-details">

  <div class="container-fluid">
    
    <div class="position-relative">
      <div class="position-absolute top-0 end-0 mt-2">
        <%= button_to 'Favoritar', aprovated_lot_path(@lot.id), class: "btn btn-info" %>
      </div>
    </div>

    <div>
      <h1>Detalhes do lote<h1>
    <div>
    


    <%= render 'table' %>
      
    <% if user_signed_in? %>
      <% if current_user.is_admin %>
        <% if @lot.pending? %>
          <div style="margin: 10px;">
            <%= button_to "Aprovar lote", aprovated_lot_path(@lot.id), class: "btn btn-secondary" %>
          </div>
          <div style="margin: 10px;">
            <%= link_to "Adicionar item", new_lot_lot_item_path(@lot), class: "btn btn-primary" %>
          </div>
        <% end %>
        
        <% if @lot.finished_bids && @lot.aprovated? %>
          <% if @lot.user_bid_lots.empty? %>
            <div>Esse lote não teve lances<div>
            <div style="margin: 10px;">
              <%= button_to "Cancelar lote", canceled_lot_path(@lot.id), class: "btn btn-secondary" %>
            </div>
          <%else%>
            <div style="margin: 10px;">
              <%= button_to "Encerrar lote", closed_lot_path(@lot.id), class: "btn btn-secondary" %>
            </div>          
          <% end %>          
        <% end %>          
      <% end %>
    <% end %>
    
  </div>  

  <div id="bids" >
    <div class="container-fluid" >
      <% if @lot.available_for_bid %>
        <div>
          <h3 class="fw-bold">Lances</h3>
          
          <div>
          <% if @lot.user_bid_lots.empty? %> 
            <p>Seja o primeiro a dar um lance</p>
          <% else %>
            <p>Ultimo lance: R$<%= @lot.last_bid.bid_amount %><p>
          <% end %>
          </div>
            
            <%= form_with(url: bid_lot_path(@lot.id), method: :post) do |f| %>
              <%= f.label :val, 'Valor do lance' %>
              <%= f.number_field  :val %>
              <%= f.submit 'Dar lance', class: "btn btn-success" %>
            <% end %>

          <% if !@user_bid_lot.nil? %>
            <% if @user_bid_lot.errors.messages %>
              <% @user_bid_lot.errors.full_messages.each do |msg| %>
              <li class="badge text-bg-warning"> <%= msg %> <li>
              <% end %>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>

  <div id="questions" style="max-width: 60%">
    <% if @lot.aprovated? && !@lot.finished_bids %>
      <div class="container-fluid">      
        
        <div class="d-flex align-items-center flex-row mb-3">
        <h3 class="me-2 fw-bold">Perguntas sobre o lote</h3>
          <%= link_to "Faça uma pergunta sobre o lote!", new_lot_question_path(@lot.id), class: "btn btn-info" %>
        </div>
        <div>
        <h4>Dúvidas dos usuário:</h4>
          <% if @lot_questions.present? %>
          <% @lot_questions.each do |q| %>
              <p class="fs-5"><%= q.question %> <%= q.answer.present? ? "Resposta: #{q.answer.answer}" : "Ainda não respondida" %></p>
          <% end %>
          <%else%>
          <p>Sem perguntas até o momento</p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <%= render 'items' %>

</section>