<section id="lot-details" style="margin: 10px;">
  <div><h2>Detalhes do lote<h2><div>
  </div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:code) %></th>
          <td><%= @lot.code %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:start_date) %></th>
          <td><%= I18n.localize(@lot.start_date) %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:limit_date) %></th>
          <td><%= I18n.localize(@lot.limit_date) %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:minimal_val) %>:</th>
          <td><%= @lot.minimal_val.round %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:minimal_difference) %>:</th>
          <td><%= @lot.minimal_difference.round %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin: 10px;">
    <h2>Items do lote:</h2>
    <% @lot.items.each do |item| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
        <% if item.image.present? %>
        <div>
          <%= image_tag item.image , class: "img-fluid rounded-start" %> 
        </div>
        <%else%>
        <span>Nenhuma imagem cadastrada</span>
        <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text"><small class="text-body-secondary">Dimensões: <%= item.item_dimensions %></small></p>
             <%if @lot.pending? %>
              <p class="card-text"><div style="margin: 10px;" class= "position-absolute bottom-0 end-0"><%= button_to "Remover item", lot_lot_item_path(item.lot, id: item.lot_item), method: :delete, class: "btn btn-danger" %></div></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%if @lot.pending? %>
  <div style="margin: 10px;">
    <%= button_to "Aprovar lote", aprovated_lot_path(@lot.id), class: "btn btn-secondary" %>
  </div>
  <div style="margin: 10px;">
    <%= link_to "Adicionar item", new_lot_lot_item_path(@lot), class: "btn btn-primary" %>
  </div>
  <% end %>
</section>