<section id="lot-details" style="margin: 10px;">
  <div><h1>Detalhes do lote<h1><div>
  </div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:code) %></th>
          <td><%= @lot.code %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:start_date) %></th>
          <td><%= I18n.localize(@lot.start_date) %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:limit_date) %></th>
          <td><%= I18n.localize(@lot.limit_date) %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:minimal_val) %>:</th>
          <td><%= @lot.minimal_val.round %></td>
        </tr>
        <tr>
          <th scope="row"><%= Lot.human_attribute_name(:minimal_difference) %>:</th>
          <td><%= @lot.minimal_difference.round %></td>
        </tr>
      </tbody>
    </table>
  </div>
    
    <% if user_signed_in? %>
    <%if @lot.pending? && current_user.is_admin %>
      <div style="margin: 10px;">
        <%= button_to "Aprovar lote", aprovated_lot_path(@lot.id), class: "btn btn-secondary" %>
      </div>
      <div style="margin: 10px;">
        <%= link_to "Adicionar item", new_lot_lot_item_path(@lot), class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <% if @lot.available %>
  <div>
    <h3>Lances</h3>
    <% if @lot.user_bid_lots.empty? %> 
      <p>Ainda não foram dados lances para esse lote</p>
    <% else %>
    <p>Ultimo lance <%= @lot.last_bid %> <p>
    <% end %>
      
      <%= form_with(url: bid_lot_path(@lot.id), method: :post) do |f| %>
        <%= f.label :query, 'Valor do lance' %>
        <%= f.number_field  :query %>
        <%= f.submit 'Dar lance' %>
     <% end %>

    <% if !@user_bid_lot.nil? %>
      <% if @user_bid_lot.errors.messages %>
        <% @user_bid_lot.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <% end %>
  
  <h2 style="margin: 5px">Items do lote: <%= "Esse lote ainda não possui itens." if @lot.items.empty? %></h2>
  <div id="items">
    <% @lot.items.each do |item| %>
  <div id="item" style="margin: 5px;">  
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4" style="margin: auto">
        <% if item.image.present? %>
        <div>
          <%= image_tag item.image , class: "img-fluid rounded-start" %> 
        </div>
        <%else%>
        <div style="text-align: center;">Nenhuma imagem cadastrada</div>
        <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text"><small class="text-body-secondary">Dimensões: <%= item.item_dimensions %></small></p>
             <div>
                <% if user_signed_in? %>
                  <%if @lot.pending? && current_user.is_admin %>
                    <p class="card-text"><div style="margin: 10px;" class= "position-absolute top-0 end-0"><%= button_to "Remover item", lot_lot_item_path(item.lot, id: item.lot_item), method: :delete, class: "btn btn-danger" %></div></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  

</section>