<section id="lot-details">
  <div class="container-fluid">
    <div>
      <h1>Detalhes do lote<h1>
    <div>
    
    <%= render 'table' %>
      
    <% if user_signed_in? %>
      <% if current_user.is_admin %>
        <% if @lot.pending? %>
          <div style="margin: 10px;">
            <%= button_to "Aprovar lote", aprovated_lot_path(@lot.id), class: "btn btn-secondary" %>
          </div>
          <div style="margin: 10px;">
            <%= link_to "Adicionar item", new_lot_lot_item_path(@lot), class: "btn btn-primary" %>
          </div>
        <% end %>
        
        <% if @lot.finished_bids && @lot.aprovated? %>
          <% if @lot.user_bid_lots.empty? %>
            <div style="margin: 10px;">
              <%= button_to "Cancelar lote", canceled_lot_path(@lot.id), class: "btn btn-secondary" %>
            </div>
          <%else%>
            <div style="margin: 10px;">
              <%= button_to "Encerrar lote", closed_lot_path(@lot.id), class: "btn btn-secondary" %>
            </div>          
          <% end %>          
        <% end %>          

      <% end %>
    <% end %>
    
  </div>  

  <div class="container-fluid">
    <div id="bids">
      <% if @lot.available_for_bid %>
        <div>
          <h3 class="fw-bold">Lances</h3>
          
          <div>
          <% if @lot.user_bid_lots.empty? %> 
            <p>Seja o primeiro a dar um lance</p>
          <% else %>
            <p>Ultimo lance: R$<%= @lot.last_bid.bid_amount %><p>
          <% end %>
          </div>
            
            <%= form_with(url: bid_lot_path(@lot.id), method: :post) do |f| %>
              <%= f.label :val, 'Valor do lance' %>
              <%= f.number_field  :val %>
              <%= f.submit 'Dar lance', class: "btn btn-success" %>
            <% end %>

          <% if !@user_bid_lot.nil? %>
            <% if @user_bid_lot.errors.messages %>
              <% @user_bid_lot.errors.full_messages.each do |msg| %>
              <li class="badge text-bg-warning"> <%= msg %> <li>
              <% end %>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>

  <%= render 'items' %>

</section>