<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Leilão</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Leilão de Estoque</a>
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
          <li class="nav-item">
          
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>

        <span class = "float-right" id="nav-logout">
          <% if user_signed_in? %>
              <% if current_user.is_admin %>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Painel admin
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><%= link_to "Cadastrar item", new_item_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Lotes pendentes", pendents_lots_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Cadastrar lote", new_lot_path, class: "dropdown-item" %></li>
                  </ul>
                </div>
                  <span>Admin:</span> 
              <% else %>
                <span>Usuário:</span> 
              <% end %>
              <span><%= current_user.name %></span>  
              <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-warning btn-sm" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-sm" %>
          <% end %>
        </span>
    </nav>
  <body>
    <div>
      <%= yield %>
    </div>
    <div class="position-absolute bottom-0 end-0">
      <% if flash[:notice] %>  
        <div class="alert alert-info"><%= notice %></div>
      <% end %>  
        
      <% if flash[:alert] %> 
        <div class="alert alert-info"><%= alert %></div>
      <% end %>
    </div>
  </body>
</html>
